* {
    margin: 0
    padding 0;
    box-sizing: border-box;
}

h1 {
    color: darkmagenta;
    
}
.app {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(210, 203, 203);
}
.previewer-container {
    display: flex;
    gap: 40px;
}
textarea {
    padding: 15px;    
}
.preview {
    border: 1px solid gray;
    padding: 15px;
}

