* {
    margin: 0
    padding 0;
    box-sizing: border-box;
}

h1 {
    color: blueviolet;
    
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border: 1px solid black;
}
main {
    display: flex;
    gap: 60px;
}
/* textarea {
    
    height: 400px;
} */
.preview {
    border: 1px solid gray;
}

